BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
TabWidth: 4
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
NamespaceIndentation: All
FixNamespaceComments: false

# Struct formatting rules
Cpp11BracedListStyle: false
ContinuationIndentWidth: 8 

# Alignment
ColumnLimit: 125
AlignOperands: DontAlign
PointerAlignment: Right
